<?xml version="1.0" encoding="UTF-8"?>
<!-- Config file for Taj Mahal Gallery -->
<juiceboxgallery
	galleryTitle=""
>
  <image imageURL="Images/taj_mahal (0).jpg"
	thumbURL="thumbs/taj_mahal (0).jpg"
	linkURL="Images/taj_mahal (0).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (1).jpg"
	thumbURL="thumbs/taj_mahal (1).jpg"
	linkURL="Images/taj_mahal (1).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (2).jpg"
	thumbURL="thumbs/taj_mahal (2).jpg"
	linkURL="Images/taj_mahal (2).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (3).jpg"
	thumbURL="thumbs/taj_mahal (3).jpg"
	linkURL="Images/taj_mahal (3).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (4).jpg"
	thumbURL="thumbs/taj_mahal (4).jpg"
	linkURL="Images/taj_mahal (4).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (5).jpg"
	thumbURL="thumbs/taj_mahal (5).jpg"
	linkURL="Images/taj_mahal (5).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (6).jpg"
	thumbURL="thumbs/taj_mahal (6).jpg"
	linkURL="Images/taj_mahal (6).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (7).jpg"
	thumbURL="thumbs/taj_mahal (7).jpg"
	linkURL="Images/taj_mahal (7).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (8).jpg"
	thumbURL="thumbs/taj_mahal (8).jpg"
	linkURL="Images/taj_mahal (8).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (9).jpg"
	thumbURL="thumbs/taj_mahal (9).jpg"
	linkURL="Images/taj_mahal (9).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (10).jpg"
	thumbURL="thumbs/taj_mahal (10).jpg"
	linkURL="Images/taj_mahal (10).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (11).jpg"
	thumbURL="thumbs/taj_mahal (11).jpg"
	linkURL="Images/taj_mahal (11).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (12).jpg"
	thumbURL="thumbs/taj_mahal (12).jpg"
	linkURL="Images/taj_mahal (12).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (13).jpg"
	thumbURL="thumbs/taj_mahal (13).jpg"
	linkURL="Images/taj_mahal (13).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (14).jpg"
	thumbURL="thumbs/taj_mahal (14).jpg"
	linkURL="Images/taj_mahal (14).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (15).jpg"
	thumbURL="thumbs/taj_mahal (15).jpg"
	linkURL="Images/taj_mahal (15).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (16).jpg"
	thumbURL="thumbs/taj_mahal (16).jpg"
	linkURL="Images/taj_mahal (16).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (17).jpg"
	thumbURL="thumbs/taj_mahal (17).jpg"
	linkURL="Images/taj_mahal (17).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (18).jpg"
	thumbURL="thumbs/taj_mahal (18).jpg"
	linkURL="Images/taj_mahal (18).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (19).jpg"
	thumbURL="thumbs/taj_mahal (19).jpg"
	linkURL="Images/taj_mahal (19).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (20).jpg"
	thumbURL="thumbs/taj_mahal (20).jpg"
	linkURL="Images/taj_mahal (20).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (21).jpg"
	thumbURL="thumbs/taj_mahal (21).jpg"
	linkURL="Images/taj_mahal (21).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (22).jpg"
	thumbURL="thumbs/taj_mahal (22).jpg"
	linkURL="Images/taj_mahal (22).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (23).jpg"
	thumbURL="thumbs/taj_mahal (23).jpg"
	linkURL="Images/taj_mahal (23).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (24).jpg"
	thumbURL="thumbs/taj_mahal (24).jpg"
	linkURL="Images/taj_mahal (24).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (25).jpg"
	thumbURL="thumbs/taj_mahal (25).jpg"
	linkURL="Images/taj_mahal (25).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (26).jpg"
	thumbURL="thumbs/taj_mahal (26).jpg"
	linkURL="Images/taj_mahal (26).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (27).jpg"
	thumbURL="thumbs/taj_mahal (27).jpg"
	linkURL="Images/taj_mahal (27).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (28).jpg"
	thumbURL="thumbs/taj_mahal (28).jpg"
	linkURL="Images/taj_mahal (28).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (29).jpg"
	thumbURL="thumbs/taj_mahal (29).jpg"
	linkURL="Images/taj_mahal (29).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (30).jpg"
	thumbURL="thumbs/taj_mahal (30).jpg"
	linkURL="Images/taj_mahal (30).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (31).jpg"
	thumbURL="thumbs/taj_mahal (31).jpg"
	linkURL="Images/taj_mahal (31).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (32).jpg"
	thumbURL="thumbs/taj_mahal (32).jpg"
	linkURL="Images/taj_mahal (32).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (33).jpg"
	thumbURL="thumbs/taj_mahal (33).jpg"
	linkURL="Images/taj_mahal (33).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (34).jpg"
	thumbURL="thumbs/taj_mahal (34).jpg"
	linkURL="Images/taj_mahal (34).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (35).jpg"
	thumbURL="thumbs/taj_mahal (35).jpg"
	linkURL="Images/taj_mahal (35).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
 <!--
  <image imageURL="Images/taj_mahal (36).jpg"
	thumbURL="thumbs/taj_mahal (36).jpg"
	linkURL="Images/taj_mahal (36).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (37).jpg"
	thumbURL="thumbs/taj_mahal (37).jpg"
	linkURL="Images/taj_mahal (37).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (38).jpg"
	thumbURL="thumbs/taj_mahal (38).jpg"
	linkURL="Images/taj_mahal (38).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (39).jpg"
	thumbURL="thumbs/taj_mahal (39).jpg"
	linkURL="Images/taj_mahal (39).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (40).jpg"
	thumbURL="thumbs/taj_mahal (40).jpg"
	linkURL="Images/taj_mahal (40).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (41).jpg"
	thumbURL="thumbs/taj_mahal (41).jpg"
	linkURL="Images/taj_mahal (41).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (42).jpg"
	thumbURL="thumbs/taj_mahal (42).jpg"
	linkURL="Images/taj_mahal (42).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
 <image imageURL="Images/taj_mahal (43).jpg"
	thumbURL="thumbs/taj_mahal (43).jpg"
	linkURL="Images/taj_mahal (43).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (44).jpg"
	thumbURL="thumbs/taj_mahal (44).jpg"
	linkURL="Images/taj_mahal (44).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (45).jpg"
	thumbURL="thumbs/taj_mahal (45).jpg"
	linkURL="Images/taj_mahal (45).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (46).jpg"
	thumbURL="thumbs/taj_mahal (46).jpg"
	linkURL="Images/taj_mahal (46).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (47).jpg"
	thumbURL="thumbs/taj_mahal (47).jpg"
	linkURL="Images/taj_mahal (47).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (48).jpg"
	thumbURL="thumbs/taj_mahal (48).jpg"
	linkURL="Images/taj_mahal (48).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (49).jpg"
	thumbURL="thumbs/taj_mahal (49).jpg"
	linkURL="Images/taj_mahal (49).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/taj_mahal (50).jpg"
	thumbURL="thumbs/taj_mahal (50).jpg"
	linkURL="Images/taj_mahal (50).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>-->
</juiceboxgallery>