<?xml version="1.0" encoding="UTF-8"?>
<!-- Config file for Christ The Redeemer -->
<juiceboxgallery
	galleryTitle=""
>
  <image imageURL="Images/Christ_redeemer (0).jpg"
	thumbURL="thumbs/Christ_redeemer (0).jpg"
	linkURL="Images/Christ_redeemer (0).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (1).jpg"
	thumbURL="thumbs/Christ_redeemer (1).jpg"
	linkURL="Images/Christ_redeemer (1).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (2).jpg"
	thumbURL="thumbs/Christ_redeemer (2).jpg"
	linkURL="Images/Christ_redeemer (2).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (3).jpg"
	thumbURL="thumbs/Christ_redeemer (3).jpg"
	linkURL="Images/Christ_redeemer (3).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (4).jpg"
	thumbURL="thumbs/Christ_redeemer (4).jpg"
	linkURL="Images/Christ_redeemer (4).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (5).jpg"
	thumbURL="thumbs/Christ_redeemer (5).jpg"
	linkURL="Images/Christ_redeemer (5).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (6).jpg"
	thumbURL="thumbs/Christ_redeemer (6).jpg"
	linkURL="Images/Christ_redeemer (6).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (7).jpg"
	thumbURL="thumbs/Christ_redeemer (7).jpg"
	linkURL="Images/Christ_redeemer (7).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (8).jpg"
	thumbURL="thumbs/Christ_redeemer (8).jpg"
	linkURL="Images/Christ_redeemer (8).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (9).jpg"
	thumbURL="thumbs/Christ_redeemer (9).jpg"
	linkURL="Images/Christ_redeemer (9).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (10).jpg"
	thumbURL="thumbs/Christ_redeemer (10).jpg"
	linkURL="Images/Christ_redeemer (10).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (11).jpg"
	thumbURL="thumbs/Christ_redeemer (11).jpg"
	linkURL="Images/Christ_redeemer (11).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (12).jpg"
	thumbURL="thumbs/Christ_redeemer (12).jpg"
	linkURL="Images/Christ_redeemer (12).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (13).jpg"
	thumbURL="thumbs/Christ_redeemer (13).jpg"
	linkURL="Images/Christ_redeemer (13).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (14).jpg"
	thumbURL="thumbs/Christ_redeemer (14).jpg"
	linkURL="Images/Christ_redeemer (14).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (15).jpg"
	thumbURL="thumbs/Christ_redeemer (15).jpg"
	linkURL="Images/Christ_redeemer (15).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (16).jpg"
	thumbURL="thumbs/Christ_redeemer (16).jpg"
	linkURL="Images/Christ_redeemer (16).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (17).jpg"
	thumbURL="thumbs/Christ_redeemer (17).jpg"
	linkURL="Images/Christ_redeemer (17).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (18).jpg"
	thumbURL="thumbs/Christ_redeemer (18).jpg"
	linkURL="Images/Christ_redeemer (18).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (19).jpg"
	thumbURL="thumbs/Christ_redeemer (19).jpg"
	linkURL="Images/Christ_redeemer (19).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (20).jpg"
	thumbURL="thumbs/Christ_redeemer (20).jpg"
	linkURL="Images/Christ_redeemer (20).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (21).jpg"
	thumbURL="thumbs/Christ_redeemer (21).jpg"
	linkURL="Images/Christ_redeemer (21).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (22).jpg"
	thumbURL="thumbs/Christ_redeemer (22).jpg"
	linkURL="Images/Christ_redeemer (22).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (23).jpg"
	thumbURL="thumbs/Christ_redeemer (23).jpg"
	linkURL="Images/Christ_redeemer (23).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (24).jpg"
	thumbURL="thumbs/Christ_redeemer (24).jpg"
	linkURL="Images/Christ_redeemer (24).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (25).jpg"
	thumbURL="thumbs/Christ_redeemer (25).jpg"
	linkURL="Images/Christ_redeemer (25).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (26).jpg"
	thumbURL="thumbs/Christ_redeemer (26).jpg"
	linkURL="Images/Christ_redeemer (26).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (27).jpg"
	thumbURL="thumbs/Christ_redeemer (27).jpg"
	linkURL="Images/Christ_redeemer (27).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (28).jpg"
	thumbURL="thumbs/Christ_redeemer (28).jpg"
	linkURL="Images/Christ_redeemer (28).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (29).jpg"
	thumbURL="thumbs/Christ_redeemer (29).jpg"
	linkURL="Images/Christ_redeemer (29).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (30).jpg"
	thumbURL="thumbs/Christ_redeemer (30).jpg"
	linkURL="Images/Christ_redeemer (30).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (31).jpg"
	thumbURL="thumbs/Christ_redeemer (31).jpg"
	linkURL="Images/Christ_redeemer (31).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (32).jpg"
	thumbURL="thumbs/Christ_redeemer (32).jpg"
	linkURL="Images/Christ_redeemer (32).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (33).jpg"
	thumbURL="thumbs/Christ_redeemer (33).jpg"
	linkURL="Images/Christ_redeemer (33).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
<image imageURL="Images/Christ_redeemer (34).jpg"
	thumbURL="thumbs/Christ_redeemer (34).jpg"
	linkURL="Images/Christ_redeemer (34).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  
<!-- 
  <image imageURL="Images/Christ_redeemer (35).jpg"
	thumbURL="thumbs/Christ_redeemer (35).jpg"
	linkURL="Images/Christ_redeemer (35).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (36).jpg"
	thumbURL="thumbs/Christ_redeemer (36).jpg"
	linkURL="Images/Christ_redeemer (36).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (37).jpg"
	thumbURL="thumbs/Christ_redeemer (37).jpg"
	linkURL="Images/Christ_redeemer (37).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (38).jpg"
	thumbURL="thumbs/Christ_redeemer (38).jpg"
	linkURL="Images/Christ_redeemer (38).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (39).jpg"
	thumbURL="thumbs/Christ_redeemer (39).jpg"
	linkURL="Images/Christ_redeemer (39).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (40).jpg"
	thumbURL="thumbs/Christ_redeemer (40).jpg"
	linkURL="Images/Christ_redeemer (40).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (41).jpg"
	thumbURL="thumbs/Christ_redeemer (41).jpg"
	linkURL="Images/Christ_redeemer (41).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (42).jpg"
	thumbURL="thumbs/Christ_redeemer (42).jpg"
	linkURL="Images/Christ_redeemer (42).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (43).jpg"
	thumbURL="thumbs/Christ_redeemer (43).jpg"
	linkURL="Images/Christ_redeemer (43).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (44).jpg"
	thumbURL="thumbs/Christ_redeemer (44).jpg"
	linkURL="Images/Christ_redeemer (44).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (45).jpg"
	thumbURL="thumbs/Christ_redeemer (45).jpg"
	linkURL="Images/Christ_redeemer (45).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (46).jpg"
	thumbURL="thumbs/Christ_redeemer (46).jpg"
	linkURL="Images/Christ_redeemer (46).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (47).jpg"
	thumbURL="thumbs/Christ_redeemer (47).jpg"
	linkURL="Images/Christ_redeemer (47).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (48).jpg"
	thumbURL="thumbs/Christ_redeemer (48).jpg"
	linkURL="Images/Christ_redeemer (48).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (49).jpg"
	thumbURL="thumbs/Christ_redeemer (49).jpg"
	linkURL="Images/Christ_redeemer (49).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="Images/Christ_redeemer (50).jpg"
	thumbURL="thumbs/Christ_redeemer (50).jpg"
	linkURL="Images/Christ_redeemer (50).jpg"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
-->
</juiceboxgallery>